[submodule "Sonic 3 AIR Main"]
	path = Sonic 3 AIR Main
	url = https://github.com/Eukaryot/sonic3air.git

[submodule "Hybrid-RSDK Main/RSDKV3"]
	path = Hybrid-RSDK Main/RSDKV3
	url = https://github.com/RSDKModding/RSDKv3-Decompilation.git

[submodule "Hybrid-RSDK Main/RSDKV4-Decompilation"]
	path = Hybrid-RSDK Main/RSDKV4-Decompilation
	url = https://github.com/RSDKModding/RSDKv4-Decompilation.git

[submodule "Hybrid-RSDK Main/RSDKV5"]
	path = Hybrid-RSDK Main/RSDKV5
	url = https://github.com/RSDKModding/RSDKv5-Decompilation.git
